@use 'base/variables' as v;
@use 'base/mixins' as m;

.contenedor-aranceles{
    @include m.shadow-box;
    @include m.contenedor;

    margin-top: 5rem;

    h2{
        text-align: center;
    }
    
    .boton-agregar{
        margin: 2rem 0;

        a{
            font-size: 1.5rem;
            width: 100%;
            font-size: 1.5rem;
            text-transform: uppercase;
            font-weight: bold;
            @include m.tablet{
                width: auto;
            }
        }
    }

    table{

        thead{
            background-color: lighten(v.$azul, 5%);
            text-align: center;
            th{
                font-weight: bold;
                color: v.$blanco;
                text-transform: uppercase;
                font-size: 1.5rem;
            }
        }
        tbody{
            text-align: center;
            
            .grupo-botones{
                display: flex;
                flex-direction: column;
                gap: 1rem;
                @include m.tablet{
                    flex-direction: row;
                    justify-content: center;
                    gap: .5rem;
                }
                

                button, a{
                    font-size: 1.2rem;
                    font-weight: bold;
                    @include m.tablet{
                        font-size: 1.5rem !important;
                        
                    }
                    
                }
            }
            
        }
    }

    .formulario{
        
        @include m.grid(1, 1rem);
        gap: 3rem;
        @include m.tablet{
            @include m.grid(2, 1rem);
            gap: 3rem;
        }
        
        .campo{
            display: flex;
            flex-direction: column;
            gap: 1rem;

            label{
                font-size: 2rem;
            }

            input[type="text"], input[type="number"], select{
                @include m.input-estilos;
            }
        }

        .contenedor-submit{
                
                @include m.tablet{
                    display: flex;
                    justify-content: flex-end;
                    align-items: flex-end;
                    grid-row: 4 / 3;
                    grid-column: 2 / 3;   
                }
            
            input{
                @include m.boton(v.$azul, v.$blanco);
                @include m.tablet{
                    width: auto;
                }
            }
        }
    }
}