@use 'base/mixins' as m;
@use 'base/variables' as v;

.contenedor-solicitud{
    .boton-imagen{
        button{
            @include m.boton(v.$azul, v.$blanco);
            width: auto;
            padding: 1rem;
            border-radius: 1rem
        }
    }
    @include m.box-shadow;
    padding: 2rem;

    h3{
        margin: 1rem 0;
        font-size: 2rem;
    }

    .datos-estudiante{
        margin-bottom: 2rem;
    }

    .datos-estudiante, .datos-arancel{
        @include m.grid(1, 1rem);
        @include m.tablet{
            @include m.grid(2, 1rem);
        }

        .campo{
            display: flex;
            flex-direction: column;
            gap: 1rem;

            input{
                @include m.input-estilos;
            }

            select{
                @include m.input-estilos;
                width: auto;
                font-size: 16px;
                text-transform: uppercase;
                font-weight: bold;
                margin-top: .9rem;
            }

            ul{
                all: unset;
                display: flex;
                flex-wrap: wrap;
                gap: 1rem;
                li{
                    list-style: none;
                    background-color: v.$azul;
                    color: v.$blanco;
                    font-weight: bold;
                    padding: 1rem;
                    border-radius: 2rem;
                    font-size: 1.3rem;
                    text-transform: uppercase;
                }
            }
        }

        .campo-arancel{
            width: 100%;
        }
    }

    .boton-actualizar{
        display: flex;
        justify-content: flex-end;

        button{
            @include m.botonGradient(v.$azul, v.$blanco);
            width: auto;
            font-size: 1.8rem;
            margin-top: 1.5rem;
        }
    }
}

.modal{
    .modal-title{
        font-size: 3rem !important;
    }
}