@use 'base/mixins' as m;
@use 'base/variables' as v;

.password-contenedor{
    @include m.contenedor-sm;
    margin-bottom: 3rem;
    margin-top: 5rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    background-color: v.$blanco;
    padding: 3rem;

    & h2{
        font-size: 3rem;
        text-align: center;
    }

    .formulario{

        .campo{
            display: flex;
            flex-direction: column;

            .lista-requerimiento{
                color: lighten(#000, 40%);
                margin-top: 0;
                padding: 0;
                li{
                    list-style: none;
                    font-size: 1.5rem;
                    line-height: 1.5;

                    &.valido{
                        color: darken(v.$verde, 10%);
                    }
                }
            }
        }

        input[type="password"]{
            margin-bottom: 2rem;
            padding: 1rem 0;
            border: 0;
            border-bottom: 2px solid v.$negro;
            transition-property: border-bottom;
            transition-duration: 500ms;

            &:focus,
            &:valid{
                outline: none;
            }

            &:focus{
                border-bottom: 2px solid v.$azul;
            }
        }

        .submit{
            display: flex;   
            justify-content: center;
            @include m.tablet{
                justify-content: flex-end;
            }
            input[type="submit"]{
                @include m.botonGradient(v.$azul, v.$blanco);
                width: 100%;
                @include m.tablet{
                    width: auto;
                }
            }
        }
    }
}