@use 'base/variables' as v;
@use 'base/mixins' as m;


.contenido-solicitudes{

    h3{
        text-align: center
    }
    @include m.contenedor;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    background-color: v.$blanco;
    padding: 2rem 3rem 3rem;
    margin-top: 4rem;


    .tabla-solicitud{
        thead{
            background-color: lighten(v.$azul, 10%);
            color: v.$blanco;
        }

        .categoria{
            text-transform: uppercase;
        }
    
        .grupo-btn{
            width: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1rem;
            a{
                flex: unset;
                padding: 0.375rem 1rem;
                font-size: 1.5rem;
                width: auto;
            }
            .icono{
                font-size: 1.7rem; 
                flex: 0;
                margin-top: 1px;
                padding: .7rem .8rem;
                font-size: 1.5rem;
            }
        }
    }
}

//dataTables botones paginacion

.dataTables_wrapper .dataTables_paginate {
    .paginate_button{
        padding: .4rem;
    }

    // .paginate_button.current {
    //     background-color: darken(v.$azul, 10%);
    //     color: v.$blanco !important;

    //     &:hover {
    //         background-color: v.$azul;
    //         color: darken(v.$blanco, 10%) !important;
    //     }
    // }

}

.modal .modal-title{
    font-size: 1.5rem !important;
}

.contenido-estatus{

    span:not(span[type="estatus"]){
        font-weight: bold;
        text-transform: uppercase;
    }

    p[type="estatus"]{
        margin: 0;
    }

    .listo, .verificado{
        font-weight: bold;
        color: darken(v.$verde, 10%)
    }

    .pendiente{
        color: gray;
    }
}



